@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap"); */

@font-face {
  font-family: "ChronicleDisplay";
  src: url("../public/assets/fonts/chronicledisplay.woff2");
}

@font-face {
  font-family: Akkurat;
  src: url(../public/assets/fonts/Akkurat-Light.ttf);
}

@font-face {
  font-family: AkkuratBold;
  src: url(../public/assets/fonts/akkuratprobold.woff2);
}

body {
  margin: 0;
  font-family: Akkurat, sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#app {
  font-family: Akkurat, sans-serif;
  font-weight: 300;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-flow: column;
  background-color: #111;
  color: #fff;
  font-family: Akkurat, sans-serif;
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
}

.head {
  height: 4.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem 0 2rem;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
}

.logo svg {
  height: 38px;
}

.logo:hover::before {
  content: "";
  color: white;
  position: fixed;
  height: 20px;
  width: 21px;
  border-radius: 50%;
  box-sizing: border-box;
  border: solid 3px white;
  outline: solid 2.8px #111;
  top: 1.5rem;
  left: calc(50% - 6.55rem);
  font-size: 2rem;
  font-weight: 400;
  background-color: #111;
  animation: not 0.5s linear 0s 1;
}

@keyframes not {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.account {
  height: 16px;
  width: 16px;
}

#profile {
  position: relative;
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAxNmgxNlYwSDB6Ii8+PHBhdGggZmlsbD0iI0ZGRiIgZD0iTTE0IDE0SDJ2LTEuMTkzbDUuMDk3LTIuNTk2IDEuMDA4LS42MDdMMTQgMTIuNzk4VjE0ek02LjQ1NiA3LjU3NEEzLjAwMyAzLjAwMyAwIDAxNS40MyAzLjQ1NiAyLjk3NSAyLjk3NSAwIDAxOCAyYTIuOTc1IDIuOTc1IDAgMDEyLjU3IDEuNDU2IDMuMDAzIDMuMDAzIDAgMDEtMS4wMjYgNC4xMThsLTEuNDY0Ljg4LTEuNjI0LS44OHptMi42NDUgMS40MzNsLjk1OS0uNTc2YTQuMDA2IDQuMDA2IDAgMDAxLjM2OC01LjQ5QTQuMDI3IDQuMDI3IDAgMDA4LjAwMSAxaC0uMDAyYTQuMDI4IDQuMDI4IDAgMDAtMy40MjcgMS45NEE0LjAxIDQuMDEgMCAwMDUuOTYgOC40NDJsMS4xMjYuNjFMMSAxMi4xOTNWMTVoMTR2LTIuNzk4TDkuMTAxIDkuMDA3eiIvPjwvZz48L3N2Zz4=);
  width: 16px;
  height: 16px;
}

.nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

.nav ul li {
  position: relative;
}

.nav ul li.active {
  cursor: pointer;
}

.nav ul li.active:after {
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  content: "";
  border-bottom: solid 3px white;
}

.nav ul li:hover:after {
  position: absolute;
  bottom: -1rem;
  left: 0;
  width: 100%;
  content: "";
  border-bottom: solid 3px white;
}

#root > section {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-section {
  display: grid;
  grid-template-columns: 2fr 5fr;
  max-width: 1420px;
  width: 100%;
}

.product-module {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.product-module img {
  max-width: 100%;
  height: auto;
  background-color: #f0f0f0;
  animation: fade-in 1s linear 0s 1;
}

.product-module:not(.loading) > h3,
.product-module:not(.loading) > p {
  animation: fade-in 1s linear 0s 1;
}

/*loading*/

.product-module .loading {
  position: relative;
  animation: none;
}

.product-module.loading > div.empty-image {
  position: relative;
  height: 100%;
  width: inherit;
  padding-top: calc((3 / 2) * 100%);
  background-color: #f0f0f0;
}

.product-module.loading > div.empty-image::before {
  content: "";
  background: url("../public/assets/img/logo.svg") center no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 6rem;
}

.product-module.loading > h3,
.product-module.loading > p {
  box-sizing: border-box;
  background-color: #f0f0f0;
  color: rgba(0, 0, 0, 0);
  width: fit-content;
}

/**/

.product-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-row-gap: 4rem;
  grid-column-gap: 1.5rem;
  margin: 2rem;
  padding-top: 2rem;
  min-width: 500px;
}

h1 {
  font-size: 1.5rem;
  font-family: "ChronicleDisplay";
  font-weight: 200;
  margin: 0;
  letter-spacing: 1px;
}

h3 {
  font-family: AkkuratBold, sans-serif;
  font-size: 0.9rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

h4 {
  font-weight: 600;
  font-size: 0.85rem;
  letter-spacing: 0.4px;
  color: #656565;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

p {
  font-size: 14.5px;
}

.filter-column {
  margin: 2rem;
  position: relative;
}

.product-module > h3 {
  margin-bottom: 0;
}

.price {
  justify-self: flex-end;
}

.title {
  font-family: "ChronicleDisplay";
  color: #656565;
  font-weight: 400;
  margin-top: 0.2rem;
  flex-grow: 2;
  letter-spacing: 0.3px;
  color: #656565;
  -webkit-font-smoothing: antialiased;
}

.radio-option {
  display: flex;
  font-size: 0.9rem;
  margin: 1.2rem 0 1.2rem 0;
  align-items: center;
}

.radio-option > input[type="radio"] {
  align-self: center;
  appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  margin: 0 0.5rem 0 0;
  background-color: #fff;
  border-radius: 50%;
  border: solid 1px #cbcbcb;
}

.radio-option:hover input {
  border: solid 1px #111;
}

.radio-option > input[type="radio"]:checked {
  background-color: #fff;
  border: solid 6px #111;
}

#filter-dropdown {
  height: 300px;
  padding-bottom: 2rem;
  overflow-y: scroll;
  border-bottom: solid 1px #e5e5e5;
  transition: height 0.3s;
}

#filter-dropdown.minimised {
  height: 0px;
  padding-bottom: 0;
}

#sort {
  display: flex;
  background-color: #fff;
  width: 140px;
  height: 48px;
  transition: height 0.3s;
  position: absolute;
  border: solid 0.5px #656565;
  padding: 0.7rem;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 0.4px;
  white-space: nowrap;
  overflow: hidden;
}

#sort > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  padding-bottom: 0rem;
}

#sort > ul > li:not(:last-child) {
  margin-bottom: 1rem;
}

#sort.minimised {
  height: 16px;
  transition: height 0.3s;
}

.filter-head {
  position: relative;
  border-top: 1px solid #e5e5e5;
}
.filter-head h4 {
  margin-top: 0rem;
}

.filter-head h3 {
  margin-bottom: 0.5rem;
}

.filter-head .arrow {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAxNlYwaDE2djE2eiIvPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTggMTIuMjA3TC42NDYgNC44NTNsLjcwOC0uNzA2TDggMTAuNzkzbDYuNjQ2LTYuNjQ2LjcwOC43MDZ6Ii8+PC9nPjwvc3ZnPg==");
  position: absolute;
  cursor: pointer;
  transform: rotateX(180deg);
  right: 0;
  top: 50%;
  z-index: 1000;
  height: 16px;
  width: 16px;
  transition: transform 0.6s;
}

.filter-head .arrow.closed {
  transform: rotateX(0deg);
  transition: transform 0.6s;
}

.cat-desc {
  font-family: "ChronicleDisplay";
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  box-sizing: border-box;
  width: calc(100% - 4rem);
  font-weight: 400;
  text-align: center;
  line-height: 21px;
  padding: 2rem;
  border-bottom: 1px solid #e5e5e5;
  letter-spacing: 0.5px;
}

.desc-container {
  width: 560px;
}

.sort-container {
  position: relative;
  display: flex;
  margin: 1rem;
  margin-right: 2rem;
  justify-content: flex-end;
  cursor: pointer;
  height: auto;
  transition: height 0.3s;
}

.sort-container .arrow {
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMCAxNlYwaDE2djE2eiIvPjxwYXRoIGZpbGw9IiMwMDAiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTggMTIuMjA3TC42NDYgNC44NTNsLjcwOC0uNzA2TDggMTAuNzkzbDYuNjQ2LTYuNjQ2LjcwOC43MDZ6Ii8+PC9nPjwvc3ZnPg==");
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  right: 0.7rem;
  height: 16px;
  width: 140px;
  z-index: 1000;
  padding-right: 0;
  transition: transform 0.6s;
  cursor: pointer;
}
.sort-container .arrow.closed {
  width: 16px;
  transform: rotateX(180deg);
  transition: transform 0.6s;
}

.log-in-container {
  position: relative;
  left: -1rem;
  top: 1rem;
  translate: 0 rem;
  background-color: #fff;
  width: 340px;
  height: 420px;
  color: #000;
  padding: 1rem;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  border-top: solid 1rem #111;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.05);
}
.log-in-container::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid #fff;
}

.form-header {
  text-align: center;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: solid 1px #e5e5e5;
  width: 100%;
}

.form-header h4 {
  font-size: 0.7rem;
  color: #000;
  letter-spacing: 0.12rem;
}

.log-in-container form input {
  box-sizing: border-box;
  width: 100%;
}

.log-in-container form input[type="submit"] {
  font-family: Akkurat;
  font-size: 0.8rem;
  letter-spacing: 0.2px;
  font-weight: 600;
  background-color: #111;
  border-radius: 2px;
  color: #fff;
  border: none;
  border: 1px solid #111;
  border-radius: 2px;
  cursor: pointer;
  padding: 0.7rem;
}

input[type="text"],
input[type="password"] {
  padding: 0.7rem;
  border: solid 1px #e5e5e5;
  border-radius: 2px;
  margin-top: 0.2rem;
}

input[type="text"]:hover,
input[type="password"]:hover {
  border: solid 1px #656565;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  66% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
  }
  66% {
    opacity: 0%;
  }
  0% {
    opacity: 100%;
  }
}
