@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Tiro+Bangla:ital@0;1&display=swap"); */

@font-face {
  font-family: 'ChronicleDisplay';
  src: url("../public/assets/fonts/chronicledisplay.woff2");
}

body {
  margin: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #000;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

#app {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
}

#root{
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-flow: column;
  background-color: #111;
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  letter-spacing: 0.6px;
}

.head {
  height: 4.5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
}

.logo svg {
  height: 38px;
}


.logo:hover::before{
  content: "";
  color: white;
  position: fixed;
  height: 20px;
  width: 21px;
  border-radius: 50%;
  box-sizing: border-box;
  border: solid 3px white;
  outline: solid 2.8px #111;
  top: 1.5rem;
  left: calc(50% - 6.55rem);
  font-size: 2rem;
  font-weight: 400;
  background-color: #111;
  animation: not 0.5s linear 0s 1;
  
}

@keyframes not {
  0%{opacity:0}
  100%{opacity:100%}
}


.nav ul {
  display: flex;
  justify-content: center;
  gap: 2rem;
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
}

#root > section {
  display: flex;
  justify-content: center;
}

.product-section {
  display: grid;
  grid-template-columns: 2fr 5fr;
  max-width: 1420px;
}

.product-module {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.product-module img {
  background-color: #ccc;
  width: inherit;
}

.product-layout {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-row-gap: 4rem;
  grid-column-gap: 1.5rem;
  margin: 2rem;
  min-width: 500px;
}

h1{
  font-size: 1.5rem;
  font-family: 'ChronicleDisplay';
  font-weight: 200;
  margin: 0;
  letter-spacing: 1px;

}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.2px;
  text-transform: uppercase;
}

h4 {
  font-weight: 400;
  font-size: 0.9rem;
  color: #656565;
}

p {
  font-size: 14px;
}

.filter-column {
  margin: 2rem;
}

.product-module > h3 {
  margin-bottom: 0;
}


.price {
  justify-self: end;
}

.title {
   font-family: 'ChronicleDisplay';
  color: #656565;
  font-weight: 400;
  margin-top: 0.2rem;
  flex-grow: 2;
}

.radio-option {
  display: flex;
  font-size: 0.85rem;
  margin: 1.5rem 0 1.5rem 0;
  align-items: center;
}

.radio-option>input[type="radio"]{
  align-self: center;
  appearance: none;
  cursor: pointer;
  height: 20px;
  width: 20px;
  box-sizing: border-box;
  margin: 0 0.5rem 0 0;
  background-color: #fff;
  border-radius: 50%;
  border: solid 1px #cbcbcb;
}

.radio-option:hover input{
  border: solid 1px #111;
}

.radio-option>input[type="radio"]:checked{
  background-color: #fff;
  border: solid 6px #111;
}


.cat-desc{
  font-family: 'ChronicleDisplay';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  box-sizing: border-box;
  width: calc(100% - 4rem);
  font-weight: 400;
  text-align: center;
  line-height: 21px;
  padding: 2rem;
  border-bottom: 1px solid #e5e5e5;
  letter-spacing: 0.5px;
  
}

.desc-container{
  width: 560px;
}